header,
footer {
  display: flex;
  background-color: gray;
  padding: 30px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
}
footer p {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: black;
  padding :5px;
  text-transform: uppercase;
}
a:hover{
    text-decoration: underline;
    background-color: beige;
}
.anasayfa {
  background-color: bisque;
}
.personeller {
  background-color: cadetblue;
}
.oneriler {
  background-color: aqua;
}
.hakkimizda {
  background-color: coral;
}
.giris{
    background-color: rgb(215, 215, 215);
}
.anasayfa img,
.oneriler img {
  width: 50%;
  height: 50%;
}
.resimler img{
    width: 15%;
    height: 15%;

}
.resimler{
    display: flex;
    flex-direction: column;
    
}
.hakkimizda ul li{
    margin-bottom: 15px;
    padding: 2rem;
    width: 50px;
    height: 20px;
    background-color: bisque;
    border: 3px solid red;
    border-radius: 15px;
}
h1{
    color: brown;
    text-align: center;
    font-size: 25px;
}
table{
    background-color: blanchedalmond;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
   
}
table tr th,
table tr td{
    padding: 20px;
}
form{
    color: brown;
    text-align: center;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
    
    
  text-decoration:underline;
    font-size: 15px;

}
form p{
    padding: 10px;

}
.buton{
    text-align: center;
}
.gonder{
    text-align: center;
}
.temizle{
    text-align: right;
}

